.App {
  text-align: center;
  background: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  border-style: solid;
  background-color: #E63644;
 /* font-family: 'Yellowtail', cursive;*/
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  font-size: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 200;
  background-image: url(food.png);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
text-align: center;
background-color: blanchedalmond;

}

.meals {
font-size: 15px;
}

.logout {
  background-image: url(seattle4.jpeg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
} 

.signup {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.login {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  float: left;
}

.greeting {
  float: left;
}

.shelterinfo {
  font-size: 1.5em;
}


.meals {
  font-size: 1.2em;
}

.head {
  border-style: solid;
  background-color: #E63644;
 /* font-family: 'Yellowtail', cursive;*/
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  font-size: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 200;
}

.Home {
  background-image: url('food.png');
}

.Link {
  background-color: white;
  color: white;
  border-style: solid;
}






