.App {
  text-align: center;
  background-color: sandybrown;
  background: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  border-style: solid;
  background-color: #E63644;
 /* font-family: 'Yellowtail', cursive;*/
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  font-size: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 200;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
text-align: center;
}

.meals {
font-size: 15px;
}

.logout {
  background-image: url(people.jpeg);
  height: 100%;
  width: 100%;
} 



