.App {
  text-align: center;
  background: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 16vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: rgba(194, 194, 194, 0.604);
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url('/landingPage.jpg'); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
text-align: center;
background-color: blanchedalmond;

}

.meals {
font-size: 15px;
}

.logout {
  background-image: url(Seattle1.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
}

.login {
  float: left;
}

.logoutspacer {
  position: fixed;
  height: 100vh;
}


.Signup input[name=name],input[name=email], input[name=password]{
  border: 5px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

.Login input[type=email], input[type=password] {
  border: 5px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

.greeting {
  float: left;
}

.shelterinfo {
  font-size: 1.5em;
}


.meals {
  font-size: 1.2em;
}

.header {
  border-style: solid;
  background-color: firebrick;
 /* font-family: 'Yellowtail', cursive;*/
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  font-size: 50px;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 200;
}

.home {
  background-image: url('food.png');
  background-size: cover;
}

.Link {
  background-color: white;
  color: white;
  
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color:firebrick;
  border-right: 1px solid #ccc; 
}

.greeting {
  margin-top: 20px;
  float: left;
}

.nav {
  width: 100%;
 
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; 
} 








